.sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: fixed;
    top: 10px;
    

    
  
  }
  @media screen and (min-width: 768px) {
    .sidebar {
        width: 250px;
        left: auto;
        
        bottom: 0;
    }
  }
  
  .greeting {
    font-size: 25px;
    color: green;
    height: 30%;
    padding: 20px;
    background-color: lightblue;
    margin-bottom: 20px;
    border: 1px solid #333;
    border-radius: 5px;
  }
  
  
  .links {
    height: 60%;
    padding: 20px;
    background-color: lightgreen;
    
    margin-bottom: 20px;
    border: 1px solid #333;
    border-radius: 5px;
  }
  
  .links ul li:first-child {
    margin-top: 60px; /* add 20 pixels of margin on top of the first list item */
  }
  
  .links ul li {
    margin-bottom: 20px;
  }
  
  .logout {
    height: 5%;
    padding: 20px;
    text-align: center;
    margin-top: auto;
    border: 1px solid #333;
    border-radius: 5px;
  }
  
  .logout button {
    background-color: blue;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .sidebar .greeting .icon {
    float: left;
    margin-right: 10px;
    width: 70px;
    height: 70px;
  }
  
  
  .hello-text {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .name-text {
    font-size: 30px;
    color: #666;
    font-weight: bold;
  }
  
  .text-container {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
  
  
  /* media query for small screens */
@media screen and (max-width: 767px) {
    .sidebar {
      position: static;
      height: auto;
    }
    
    .greeting {
      height: 20%;
      font-size: 20px;
    }
    
    .links {
      height: 50%;
      font-size: 16px;
    }
    
    .logout {
      height: 10%;
      font-size: 12px;
    }
  }
  
  