.container .containermed {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .row .rowmed {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  
  .col .colmed {
    flex-basis: 100%;
    margin-bottom: 10px;
  }
  
  .col-sm-6 .col-sm-med {
    flex-basis: 50%;
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type='text'],
  input[type='number'],
  input[type='date'],
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .error-message {
    color: red;
    margin-bottom: 10px;
  }
  
  /* New styles for the form box */
  .form-box {
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
  }
  