.pa-banner-text {
    opacity: 0;
    transform: translateX(100%);
    animation: slideIn 1s forwards;
  }
  
  @keyframes slideIn {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  .pa-banner-text.show {
    opacity: 1;
    transform: translateY(0%);
  }
  
  .pa-banner {
    padding: 100px 0px 50px;
    background-image: url("../../assets/banner.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .pa-banner-text h4 {
    position: relative;
    padding-left: 30px;
    margin-bottom: 25px;
    font-size: 40px;
    z-index: 1;
    color: #1b1111;
    letter-spacing: 1px;
  }
  .pa-banner-text h4:after {
    position: absolute;
    top: -8px;
    left: 0;
    width: 90px;
    background: #6caaa8;
    content: "";
    bottom: -8px;
    z-index: -1;
  }
  .pa-banner-text h2 {
    font-size: 50px;
    margin-bottom: 30px;
    letter-spacing: 1px;
  }
  .pa-view-all {
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 500;
    position: relative;
  }